
@{
    ViewBag.Title = "Index";
}

<h2>Como lo mueve esa muchachota :)</h2>

<iframe width="560" height="315"
 src="https://www.youtube.com/embed/mmKAn1MeB04" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<hr>
<h2>Hola</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/nlXqp3FVrq8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
